@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@300..700&display=swap");

/* Importa las bases de Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables globales de colores */
:root {
  overflow-x: hidden !important;
  min-width: 300px;
  --background: linear-gradient(
    90deg,
    rgb(59 130 246 / 9%) 0%,
    #f7f7f8e0 51%,
    rgb(59 130 246 / 8%) 100%
  ); /* Fondo claro */ /* Texto de botones secundarios */
}

/* Variables para tema oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    /* --background: linear-gradient(
      90deg,
      #212224 0%,
      #222326ed 51%,
      #212224 100%
    ); Fondo oscuro */ /* Texto de botones secundarios */
  }
}

/* Estilos globales */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Roboto", serif; /* Usa la fuente Roboto definida */
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5{
  font-family: "Space Grotesk", serif !important;
}


::marker {
  color: #0066d0;
  font-weight: 600;
}

.bg-primary-main ::marker {
  color: white;
  font-weight: 600;
}

.img-carrousel,
.content-card-img img {
  position: relative !important;
}

.bg-home {
  background: linear-gradient(0deg, #0d9488 0, #277dd7 100%);
}

.bg-nocs {
  background: linear-gradient(33deg, #003a77 10%, #277dd7eb 48%, #001a36 89%);
}

.bg-gradient {
  background: linear-gradient(90deg, #0066d0 10%, #277dd7eb 48%, #0066d0 89%);
}

.menu-link {
  display: inline-block;
  position: relative;
  text-decoration: none;
}

.menu-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  border-top: 3px solid #0066d0;
  opacity: 0;
  transition:
    opacity 0.3s ease,
    height 0.3s ease;
  color: #0066d0;
}

.menu-link:hover::after {
  opacity: 1;
  height: 3px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes orbit {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Animación para que las órbitas aparezcan */
@keyframes pulseOrbit {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* Animación para que el planeta aparezca */
@keyframes planetAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes orbitPlanet {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes comets {
  0% {
    width: 0;
    opacity: 0;
    transform: rotate(45deg) translate3d(-10%, -100%, 0); /* Comienzan fuera */
  }
  4% {
    width: 2px;
    opacity: 1;
  }
  8% {
    width: 0;
    opacity: 0;
    transform: rotate(45deg) translate3d(10%, 100%, 0); /* Terminan fuera */
  }
}

@keyframes cometsLong {
  0% {
    width: 0;
    opacity: 0;
    transform: rotate(45deg) translate3d(0%, 0%, 0); /* Comienzan fuera */
  }
  5% {
    width: 2px;
    opacity: 1;
  }
  10% {
    width: 0;
    opacity: 0;
    transform: rotate(45deg) translate3d(10%, 200%, 0); /* Terminan fuera */
  }
}

.comets {
  position: absolute;
  top: 0;
  left: 50%;
  width: 5px;
  height: 212px;
  background-color: #ffffff;
  border-radius: 50%;
  transform: rotate(45deg);
  transform-origin: 100% 50%;
  animation: comets 10s infinite;
  opacity: 0;
}

.comets-left {
  left: 15%;
  animation-delay: 3.333s !important;
}

.comets-center {
  left: 50%;
}

.comets-top {
  left: 98%;
  animation-delay: 6.333s !important;
}

.comets-long {
  animation: cometsLong 10s infinite;
}


.halfCircle {
  bottom: 50%;
  width: 300px;
  height: 150px;
  background: linear-gradient(to bottom, #99b9eb, #f8fafc);
  border-top-left-radius: 150px;
  border-top-right-radius: 150px;
  transform: translateY(50%);
}

.halfCircleBlue {
  width: 100%;
  height: 100%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-top: solid #969696 1px;
  position: absolute;
  bottom: -50%;
}

.cardBlue {
  background: linear-gradient(75deg, #0e0e0e 54%, #0e0e0ee6 100%);
  color: white;
}


@keyframes comets2 {
  0% {
    width: 0;
    opacity: 0;
    transform: rotate(90deg) translate3d(-10%, -100%, 0); /* Comienzan fuera */
  }
  4% {
    width: 2px;
    opacity: 1;
  }
  8% {
    width: 0;
    opacity: 0;
    transform: rotate(90deg) translate3d(10%, 100%, 0); /* Terminan fuera */
  }
}

@keyframes cometsLong2 {
  0% {
    width: 0;
    opacity: 0;
    transform: rotate(90deg) translate3d(0%, 0%, 0); /* Comienzan fuera */
  }
  5% {
    width: 2px;
    opacity: 1;
  }
  10% {
    width: 0;
    opacity: 0;
    transform: rotate(90deg) translate3d(10%, 200%, 0); /* Terminan fuera */
  }
}

.sun {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: radial-gradient(circle, #facc14 0%, /* Centro brillante */ #fbbf24 40%, /* Amarillo más oscuro */ #f59e0b 70%, /* Tonos más oscuros cerca del borde */ #d97706 100% /* Borde quemado */);
  box-shadow: 0 0 40px #facc14, 0 0 80px #faeebc;
}

.shadow-sun {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #212224;
  top:  -5px;
  left: 0px;
  animation: move 20s infinite 1.5s;
}

@keyframes move {
  0%{
      transform: translateX(250px);
      background-color: #212224;
  }

  50%{
      transform: translateX(-10px);
      background-color: #212224;
  }

  100%{
      transform: translateX(-220px);
      background-color: #212224;
  }
}

.black-hole-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.accretion-disk {
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: conic-gradient(from 248deg, transparent, #ff66008c, #4412005e, #ff9900db, #ff6600ab, transparent 60%);
  border-radius: 50%;
}

.animationOrbitContainer {
  position: absolute;
  width: 250px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  left: 10%;
}

.verticalLine {
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: #66a3f369;
  z-index: 1;
}

.dotMin {
  position: absolute;
  top: 30px;
  width: 5px;
  height: 5px;
  background-color: #ffffff;
  border-radius: 50%;
  transform: translate(0, -50%);
  z-index: 2;
}

.sunDotMin {
  position: absolute;
  top: 170px;
  width: 20px;
  height: 20px;
  background-color: #facc14;
  border-radius: 50%;
  transform: translate(0, -50%);
  z-index: 2;
}

.sunDot {
  position: absolute;
  bottom: 0;
  width: 30px;
  height: 30px;
  background-color: #facc14;
  border-radius: 50%;
  z-index: 2;
}

.orbitDashedMin {
  position: absolute;
  top: 170px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px dashed #d1d5db;
  transform: translate(0%, -50%);
  transition: all 1s ease-in-out;
}

.orbitRotary {
  position: absolute;
  top: 96px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #d1d5db;
}

.planetInOrbit {
  position: absolute;
  z-index: 2;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  top: 0;
  left: 50%;
  transform: translate(-48%, -48%);
  background: white;
}

.planetInOrbitYellow {
  position: absolute;
  z-index: 2;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  top: 0;
  left: 50%;
  transform: translate(-48%, -48%);
  @apply bg-yellow-400
}

.dot {
  position: absolute;
  top: 840px;
  width: 15px;
  height: 15px;
  background-color: #d1d5db;
  border-radius: 50%;
  transform: translate(0, -50%);
  z-index: 2;
}

.orbitDashedExpand {
  position: absolute;
  top: 820px;
  left: 50%;
  width: 0px;
  height: 0px;
  border: 1px dashed #d1d5db;
  border-radius: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: all 3s ease-in-out;
}

.orbitExpand {
  position: absolute;
  top: 900px;
  left: 50%;
  width: 0px;
  height: 0px;
  border: 1px solid #d1d5db;
  border-radius: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: all 3s ease-in-out;
}

.animate .orbitDashedExpand {
  width: 75px;
  height: 75px;
  opacity: 1;
}

.animate .orbitExpand {
  width: 150px;
  height: 150px;
  opacity: 1;
}

.halfCircle {
  position: absolute;
  bottom: 0%;
  width: 250px;
  height: 150px;
  background: linear-gradient(to bottom, #99b9eb, #f8fafc);
  border-top-left-radius: 150px;
  border-top-right-radius: 150px;
  transform: translateY(50%);
  z-index: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes drawLine {
  from {
    height: 0;
  }
  to {
    height: 80%;
  }
}
.animate .verticalLineMiddle {
  animation: drawLine 3s ease-out forwards;
  opacity: 1;
}

.animationOrbitContainer2 {
  position: absolute;
  width: 250px;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  right: 15%;
}

.verticalLineMiddle {
  position: absolute;
  width: 1px;
  height: 1px;
  background-color: #66a3f369;
  z-index: 1;
  top: 0;
  opacity: 0;
}

.orbitRotary2 {
  position: absolute;
  top: -90px;
  left: -90px;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  border: 1px solid #d1d5db;
  margin: 2rem;
  opacity: 0;
  transition: all 6s ease-in-out;
}

.paleBlueDot {
  width: 10px;
  height: 10px;
  background-color: #9cbbeb;
  border-radius: 50%;
  margin-top: 6.5px;
  margin-left: 6.5px;
}

.paleBlueOrbit {
  position: absolute;
  bottom: 70%;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px dashed #9cbbeb;
  border-radius: 50%;
  z-index: 1;
  opacity: 1; /* Inicialmente oculto */
  transition: opacity 0.5s ease-in-out;
}

.sunDotBig {
  position: absolute;
  bottom: -15px;
  width: 30px;
  height: 30px;
  background-color: #facc14;
  border-radius: 50%;
  z-index: 2;
  left: -15px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.animate .sunDotBig {
  animation: fadeIn 3s ease-out forwards;
  opacity: 1; /* Aparece con el fadeIn */
}

.animate .orbitRotary2 {
  width: 150px;
  height: 150px;
  animation: fadeIn 8s ease-out forwards;
  opacity: 1; /* Aparece con el fadeIn */
}

.pac-logo:after {
  display: none;
}